*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.barra-navegacion {
    background:black;
    height: 80px; /** ancho **/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    z-index: 999;
}
.contenido-barra {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;

}
#logo-navegacion{
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navegacion-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navegacion-item {
    height: 80px;
}
.links-navegacion {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.sector-imagenes {
    background-color: #141414;
    margin: 0 auto;
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    text-align: center;
}
.contenido-imagenes {
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
}
.imagen-1 {
    margin: 0 auto;
    height: 425px;
    width: 400px;
    border-radius: 50px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    
    
    color: #fff;
}
.imagen-2 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey-2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: center;
    color: #fff;
}

.imagen-3 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey-3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.imagen-4 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/cat.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
.titulo-h1 {
    color: #fff;
    margin-bottom: 5rem;
    font-size: 2rem;
}



