*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.barra-navegacion {
    background:black;
    height: 80px; /** ancho **/
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: fixed;
    top: 0;
    z-index: 999;
    
}
.contenido-barra {
    display: flex;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    align-items: center;
    padding-left: 50px;

}
#logo-navegacion{ /* poner id en logo */
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navegacion-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}
.navegacion-item {
    height: 80px;
}
.links-navegacion {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}
.sector-imagenes {
    background-color: #141414;
    margin: 0 auto;
    display: inline-block;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    text-align: center;
    height: calc(100vh - 80px);
}
.contenido-imagenes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;

}
/** 
crear una clase para todas las imagenes .imaganes(todas las propiedas menos las del fondo)



**/
.imagen-1 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey.jpg');
    background-size: 100% 100%;
    background-repeat: cover;
    
    
    color: #fff;
}
.imagen-2 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey-2.jpg');
    background-size: 100% 100%;
    background-repeat: cover;
    position: center;
    color: #fff;
}

.imagen-3 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey-3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}

.imagen-4 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/cat.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
.imagen-5 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey-4.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
.imagen-6 {
    margin: 1rem;
    height: 425px;
    width: 400px;
    border-radius: 20px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(17,17,17,0.6) 100%),
    url('../images/monkey-3.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: relative;
    color: #fff;
}
.titulo-h1 {
    color: #fff;
    margin-bottom: 5rem;
    font-size: 2rem;
}
/* Footer CSS */
.footer__container {
    background-color: #141414;
    padding: 5rem 0;
    text-align: center;
    width: 100%;
}

.website__rights {
    color: #fff;
}



